{% extends 'base.html' %}

{% block meta %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $.get("http://127.0.0.1:8000/wishlist/json/");
    });
</script>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand">Wishlist: {{nama}}<br>by Lyzander Marciano Andrylie</span>
      <span class="d-flex">
        <button class="btn btn-outline-danger"><a href="{% url 'wishlist:logout' %}">Logout</a></button>
      </span>
    </div>
  </nav>

<!-- <div class="container">
    <h5>Nama: </h5>
    <p>{{nama}}</p>
</div> -->

<div class="container">
    <table class="table table-hover my-4">
        <tr>
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
        </tr>
        {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
        {% for barang in list_barang %}
            <tr>
                <td>{{barang.nama_barang}}</td>
                <td>{{barang.harga_barang}}</td>
                <td>{{barang.deskripsi}}</td>
            </tr>
        {% endfor %}
    </table>
</div>


{% endblock content %}